{% extends 'webAdminRadio/base_site.html' %}
{% load static from staticfiles %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/emisoras.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/asignar_locutor.css' %}">
{% endblock %}
{% block content %}
    <label for="emisoraSelect" class="col-sm-1"><b>Emisora</b></label>
    <select id="emisoraSelect" class="custom-select form-control col-sm-4" name="emisora" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')">
        <option selected disabled>Elja una emisora</option>
        {% for emisora in emisoras %}
                <option value="{{ emisora.id }}">{{ emisora.nombre }}</option>
        {% endfor %}
    </select>
    <label for="segmentoSelect" class="col-sm-1"><b>Segmento</b></label>
    <select id="segmentoSelect" class="custom-select form-control col-sm-4" name="segmento" oninvalid="this.setCustomValidity('Ingrese una emisora válida')" required oninput="this.setCustomValidity('')"></select>
    <div class="info-segmento">
        <div class="wrapper">
            <div class="img-container">
                <img class="image" src="">
            </div>
            <div class="info-container">
                <h3 id="segName"></h3>
                <p id="segSlogan"></p>
                <p><i class="fas fa-clock icon"></i>Horarios</p>
                <ul id="segHorarios">
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="table-container">
        <table id="data_table" class="table table-striped table-bordered dt-body-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Emisora</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block page_script %}
    <script type="text/javascript" src="{% static 'webAdminRadio/js/asignar_locutor.js' %}"></script>
{% endblock %}