{% extends 'webAdminRadio/base_site.html' %}
{% load webadmin_tags %}
{% load static from staticfiles %}
{% block page_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'webAdminRadio/css/emisoras.css' %}"
{% endblock %}
{% block agregar_button %}
    <a href="{% url 'webadminradio:agregar_emisora' %}" class="btn btn-primary btn-md ml-auto action" role="button"><i class="fas fa-plus-circle"></i>Agregar Emisora</a>
{% endblock %}
{% block content %}
    <div class="emisoras">
        {% for emisora in emisoras %}
        <div class="wrapper">
            <div class="img-container">
                <img class="image" src="{{ emisora.logotipo.url }}">
            </div>
            <div class="info-container">
                <h3><b>{{ emisora.nombre }}</b></h3>
                <p><i>{{ emisora.frecuencia_dial }}</i></p>
                <p><i class="fas fa-map-marker-alt icon"></i>{{ emisora.direccion }}</p>
                {% get_telf_emisora emisora as telefono %}
                <p><i class="fas fa-phone icon"></i>{{ telefono.nro_telefono }}</p>
                <p><i class="fas fa-globe icon"></i><a href="{{ emisora.sitio_web }}">{{ emisora.sitio_web }}</a></p>
            </div>
            <div class="btn-wrapper">
                <div class="act-buttons">
                    <a href="#" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-pen"></i>Editar información</a>
                    <a href="#" class="btn btn-primary btn-md action a-btn" role="button"><i class="fas fa-times"></i>Elimiar Radio</a>
                </div>
                <div class="info">
                    <p><b>Segmentos registrados:</b> {% get_cant_segmentos emisora %}</p>
                    <p><b>Locutores registrados:</b> 30</p>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}
{% block page_script %}
{% endblock %}